/*GENERAL STYLES*/
:root {
  --main-bg-color: #f1f3f8;
  --main-accent-color: #393b44;
  --main-txt-color: rgb(196, 198, 199);
  box-sizing: border-box;
}

body {
  color: var(--main-txt-color);
  font-family: "Gruppo", cursive;
  background-color: #f6f5f5;
  line-height: 1;
}

.container {
  width: 40vw;
  max-width: 100%;
  margin: 5px auto;
  padding: 0;
  border: 1px solid var(--main-accent-color);
  border-radius: 10px;
  background-color: var(--main-bg-color);
}

/*HEADER*/
header {
  padding: 1rem;
  margin: 0 auto;
}

nav {
  line-height: 0;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 5px 10px -4px rgba(93, 91, 96, 0.9);
}
#date {
  text-decoration: none;
  color: var(--main-accent-color);
  font-size: 1.5rem;
  pointer-events: none;
  text-align: right;
  padding: 5px;
}

form {
  text-align: center;
  justify-content: space-around;
}

.d-flex input {
  padding: 3px 6px;
}

#globe {
  font-size: 1.5rem;
  padding: 5px;
  margin-right: 0.5rem;
}

#pin {
  font-size: 1.5rem;
  padding: 5px;
}

/*MAIN*/
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  place-content: center;
  padding: 5px;
  word-wrap: break-all;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  overflow: hidden;
}

.current-city {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: left;
}

#searched-city {
  font-size: 3rem;
  font-family: "Chilanka", cursive;
  font-weight: bold;
  color: var(--main-txt-color);
}

.current-description::first-letter {
  text-transform: capitalize;
}

.feels-like,
.wind-speed {
  display: inline-flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.current-weather {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: right;
}

.current-t {
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
  align-self: start;
  gap: 10px;
}

#current-temp {
  font-size: 4rem;
  color: var(--main-txt-color);
}

.celsius,
.fahrenheit {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--main-txt-color);
  display: inline-block;
  transition: all 200ms ease;
}

.celsius:focus,
.fahrenheit:focus {
  outline: 1px var(--main-txt-color);
}

.celsius:hover,
.fahrenheit:hover {
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-txt-color);
}

/*FORECAST*/

#future {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-around;
  margin: 0 5px;
}
.forecast {
  padding: 5px;
}
.forecast-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#forecast-1 {
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  justify-items: center;
}

.forecast-temp-1 {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: center;
}

.forecast-icon-1 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.forecast-description-1 {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

#forecast-2 {
  grid-column: 1;
  grid-row: 2;
}

.forecast-temp-2 {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: center;
}

.forecast-icon-2 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.forecast-description-2 {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

#forecast-3 {
  grid-column: 1;
  grid-row: 3;
}

.forecast-temp-3 {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: center;
}

.forecast-icon-3 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.forecast-description-3 {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

/*FOOTER*/
.code-link {
  text-align: center;
  font-family: "Chilanka", cursive;
  color: var(--main-accent-color);
}

.cl {
  text-decoration: none;
  color: var(--main-accent-color);
}
